.Hex
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    margin: 1px;
    position: absolute;
    transition: all .5s;
}
.Hex div:nth-child(1)
{
    border-bottom: 50px solid #6C6;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.Hex div:nth-child(2)
{
    width: 120px;
    height: 60px;
    background-color: #6C6;
}

.Hex div:nth-child(3)
{
    border-top: 50px solid #6C6;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.HalfHexRightSided
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    position:absolute;
}

.HalfHexRightSided div:nth-child(1)
{
    border-bottom: 50px solid #6C6;
    border-right: 60px solid transparent;
}

.HalfHexRightSided div:nth-child(2)
{
    width: 60px;
    height: 60px;
    background-color: #6C6;
}

.HalfHexRightSided div:nth-child(3)
{
    border-top: 50px solid #6C6;
    border-right: 60px solid transparent;
}

.HalfHexLeftSided
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    position: absolute;
}
.HalfHexLeftSided div:nth-child(1)
{
    border-bottom: 50px solid #6C6;
    border-left: 60px solid transparent;
}

.HalfHexLeftSided div:nth-child(2)
{
    width: 60px;
    height: 60px;
    background-color: #6C6;
}

.HalfHexLeftSided div:nth-child(3)
{
    border-top: 50px solid #6C6;
    border-left: 60px solid transparent;
}

.HexRowOdd
{
    position: absolute;
}
.HexRowEven
{
    position: absolute;
}

.Hex:hover
{
    transform: scale(1.5);
    z-index : 100;
}

.Hex:hover div:nth-child(1)
{
    border-bottom-color: aquamarine;
}
.Hex:hover div:nth-child(2)
{
    background-color: aquamarine;
}
.Hex:hover div:nth-child(3)
{
    border-top-color: aquamarine;
}