body
{
    background-color: #060224;
}

#BackgroundHexPanel
{
    width: 100%;
    height: calc(100% + 70px);
    position: absolute;
    left: 0px;
    top: -70px;
    overflow: hidden;
    background: linear-gradient(180deg, #56fff4 , rgb(255, 13, 247));
    background-size: 0% 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all .9s ease-in;
    /* animation: backPanel 4s linear infinite; */
}

@keyframes backPanel {
    0% 
    {
        background-size: 0% 0%;
        background-position: 50% 50%;
    }
    20% 
    {
        background-size: 50% 100%;
        background-position: 50% 50%;
    }
    40% 
    {
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
    60% 
    {
        background-size: 100% 50%;
        background-position: 50% 50%;
    }
  }

.Hex
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    margin: 1px;
    position: absolute;
    transition: all .4s;
}

.Hex div:nth-child(1)
{
    border-bottom: 50px solid #0f0031;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.Hex div:nth-child(2)
{
    width: 120px;
    height: 60px;
    background-color: #0f0031;
}

.Hex div:nth-child(3)
{
    border-top: 50px solid #0f0031;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.HalfHexRightSided
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    position:absolute;
}

.HalfHexRightSided div:nth-child(1)
{
    border-bottom: 50px solid #0f0031;
    border-right: 60px solid transparent;
}

.HalfHexRightSided div:nth-child(2)
{
    width: 60px;
    height: 60px;
    background-color: #0f0031;
}

.HalfHexRightSided div:nth-child(3)
{
    border-top: 50px solid #0f0031;
    border-right: 60px solid transparent;
}

.HalfHexLeftSided
{
    width: max-content;
    height: max-content;   
    display: inline-block;
    position: absolute;
}
.HalfHexLeftSided div:nth-child(1)
{
    border-bottom: 50px solid #0f0031;
    border-left: 60px solid transparent;
}

.HalfHexLeftSided div:nth-child(2)
{
    width: 60px;
    height: 60px;
    background-color: #0f0031;
}

.HalfHexLeftSided div:nth-child(3)
{
    border-top: 50px solid #0f0031;
    border-left: 60px solid transparent;
}

.HexRowOdd
{
    position: absolute;
}
.HexRowEven
{
    position: absolute;
}

.HexFlower
{
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 150px);
    width: 300px;
    height: 305px;
    background-color: #a200ff;
    box-shadow: 0px 0px 150px 20px black;
    z-index: 20;
    cursor: pointer;
    transition: all .9s;
}

.HexFlower:hover + #BackgroundHexPanel
{
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.HexFlower .HexRowOdd:nth-child(1)
{
    top: -38px;
    left: -2px;
}
.HexFlower .HexRowOdd:nth-child(2)
{
    top: 76px;
    left: -79px;
}
.HexFlower .HexRowOdd:nth-child(3)
{
    top: 191px;
    left: -3px;
}

.HexFlower .Hex div:nth-child(1)
{
    border-bottom-color: rgb(247, 255, 25);
}

.HexFlower .Hex div:nth-child(2)
{
    background-color: rgb(247, 255, 25);
}

.HexFlower .Hex div:nth-child(3)
{
    border-top-color: rgb(247, 255, 25);
}

.HexFlower .HexRowOdd:nth-child(2) .Hex:nth-child(2) div:nth-child(1)
{
    border-bottom-color: rgb(12, 43, 38);
}

.HexFlower .HexRowOdd:nth-child(2) .Hex:nth-child(2) div:nth-child(2)
{
    background-color: rgb(12, 43, 38);
}

.HexFlower .HexRowOdd:nth-child(2) .Hex:nth-child(2) div:nth-child(3)
{
    border-top-color: rgb(12, 43, 38);
}

.HexFlower:hover
{
    background-color:rgb(255, 0, 234);
    box-shadow: 0px 0px 150px 25px black;
}

.HexFlower .HexRowOdd:nth-child(2) .Hex:nth-child(2):hover
{
    transform: scale(1.1);
}

.HexFlower:hover .Hex
{
    transform: none;
}

#BackgroundHexPanel .Hex::before
{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -35px;
    background: linear-gradient(180deg, #db66ff , rgb(0, 255, 204));
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}

#BackgroundHexPanel .Hex:hover::before
{
    opacity: 1;
}

.HexCard
{
    position: absolute;
    top: 151px;
    left: 281px;
    width: 500px;
    height: 500px;
    background-color: #c0f2f738;
    border: 2px solid #8f08ff;
    border-radius: 10px;
}

.HexCard .TopHex
{
    position: absolute;
    top: 30px;
    left: -102px;
}

.HexCard .BottomHex
{
    position: absolute;
    bottom: 130px;
    right: 103px;
}

.HexCard .TopHex .HexRowOdd:nth-child(1)
{
    top: -78px;
    left: 50px;
}

.HexCard .BottomHex .HexRowOdd:nth-child(1)
{
    top: 78px;
    left: 50px;
}

.HexCard2
{
    position: relative;
    width: 500px;
    height: 500px;
    display: block;
    text-align: center;
    /* overflow: hidden; */
    /* background-color: #500778a3; */
    border-radius: 15px;
    /* box-shadow: 5px 5px 10px black; */
    margin-top: 50px;
    left: calc(50% - 250px);
}
.HexCard2 .Contents
{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    text-align: center;
}

.HexCard2 .Contents h1
{
    font-family: monospace;
    color: white
}

.HexCard2 .Contents p
{
    color: #d0e0df;
    font-size: medium;
    font-weight: 600;
    font-family: fantasy;
}

.HexCard2 .Contents a
{
    color: bisque;
}