@media (min-width:200px) {
    body {
        background-image: url("./bg-mobile.jpg");
        background-size: cover;
    }
}
@media (min-width: 768px) {
    body {
        background-image: url("./bg.jpg");
    }
}
.Banner
{
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0%;
    left: 0%;
    background: linear-gradient(90deg, rgb(31, 0, 50), rgb(7, 0, 61));
    background-size: 200% 100%;
    z-index: 1;
}
.Banner div
{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: larger;
    color: transparent;
    display: inline;
    position: absolute;
    cursor: pointer;
}
.Banner div:nth-child(1)
{
    position: relative;
    left: 1%;
    top: 5px;
    cursor: none;
    background: linear-gradient(45deg,#ff00fb,#0800ff);
    background-clip: text;
}

.Browse
{
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    top: 30px;
    left: 0%;
}

.Browse .Section
{
    background-size: cover;
    background-position: center;
}

.Browse .Section:nth-child(1)
{
    background-image: url("./street.jpg");
}

.Browse .Section:nth-child(2)
{
    background-image: url("./street2.jpg");
}

.Browse .Section:nth-child(3)
{
    background-image: url("./street3.jpg");
}

.Browse .Section
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    overflow: hidden;
}

.Browse .Section.Desktop
{
    width: 33.3%;
    height: 100%;
}

.Browse .Section.Mobile
{
    width: 100%;
    height: 33.3%;
}

.Browse .Section img
{
    transition: all .5s;
    cursor: pointer;
    width: max-content;
    height: max-content;
    border-radius: 50%;
}

.Browse .Section img:hover
{
    box-shadow:0px 0px 10px 200px rgba(172, 2, 164, 0.245) , 0px 0px 10px 400px rgba(74, 0, 105, 0.51) ;
    filter: invert();
}

.TypesContainer
{
    /* position: absolute; */
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: center;
}

.Types
{
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#26043eec , rgba(0, 0, 0, 0.91));
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(2, 2, 2, 0.484);
}

.Types button
{
    width: 30px;
    height: 30px;
    color: rgba(54, 255, 151, 0.84);
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    /* border: 1px solid rgba(255, 96, 239, 0.845); */
    cursor: pointer;
    float: right;
}

.Types button:hover
{
    color: rgba(255, 255, 255, 0.938);
}

.TypesContainer button:hover
{
    background-color:  rgb(153, 0, 255);
    color: rgba(255, 255, 255, 0.81);
    box-shadow: 0px 0px 5px rgb(153, 0, 255);
}

.CategoryButton
{
    width: max-content;
    height: 33px;
    /* background: linear-gradient(90deg,#020003 , #4200a2); */
    border:2px solid #4e0083;
    border-radius: 5px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}

.CategoryButton img
{
    padding: 5px;
}

.CategoryButton span
{
    position: relative;
    top: -12px;
    left: -4px;
    color: rgb(236, 239, 255);
    font-size: large;
    font-weight: bold;
    font-family: monospace;
}

.CategoryButton:hover
{
    background: linear-gradient(90deg,#f427d4 , #297fa1);
}

#ModelsContainer
{
    transition: all .5s;
    position:fixed;
    height: calc(100% - 30px);
    width:100%;
    left: 0%;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.396);
    z-index: 1;
}
#ModelsContainer .CloseButtonContainer
{
    width: 100%;
    height:30px;
    text-align: end;
}
#ModelsContainer .CloseButtonContainer button
{
    width: 30px;
    height: 30px;
    color: rgba(242, 65, 255, 0.845);
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: rgba(47, 45, 48, 0.164);
    cursor: pointer;
}

#ModelsContainer .CloseButtonContainer button:hover
{
    color: rgb(45, 238, 231);
}

#ModelsContainer .Container
{
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    top:30px;
    overflow-y:scroll;
    scrollbar-width: none;
    text-align: center;
}

.Card
{
    transition: 0.5s;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(90deg ,rgb(0, 6, 37) ,rgb(23, 1, 35));
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.Card .Circle
{
    transition: all .5s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(46, 1, 70, 0.749);
    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.Card .Circle:nth-child(1)
{
    top: -45px;
    left: -45px;
}
.Card .Circle:nth-child(2)
{
    bottom: 0px;
    right: -145px;
}
.Card .ImgCont
{
    transition: all .5s;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    top: -90%;
    left: 20%;
    box-shadow: 0px 0px 10px 2px rgb(189, 57, 255);
    padding: 5px;
}
.Card .ImgCont img
{
    transition: all .5s;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Card .Title
{
    transition: all .5s;
    position: relative;
    width: 100%;
    top: -81%;
    left: 0%;
    text-align: center;
    opacity: 0;
    color: #11011e;
    text-shadow: 0px 0px 5px #c35ef1;
    font-family: monospace;
    font-size: larger;
}
.Card:hover .Circle:nth-child(1) , .Card.Mobile .Circle:nth-child(1)
{
    left: 50px;
    transform: scale(1.5);
}
.Card:hover .Circle:nth-child(2) , .Card.Mobile .Circle:nth-child(2)
{
    right: -55px;
    transform: scale(0.9);
}
.Card:hover .ImgCont , .Card.Mobile .ImgCont
{
    transform: scale(0.8);
    top: -115%;
}
.Card:hover .Title , .Card.Mobile .Title
{
    opacity: 1;
    top: -100%;
}

.modelDetails
{
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
    width: 350px;
    height: 350px;
    background: linear-gradient(#26043ed6 , rgba(0, 0, 0, 0.91));
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}
.modelDetails .CloseButtonContainer
{
    width: 100%;
    height:30px;
    text-align: end;
}
.modelDetails .CloseButtonContainer button
{
    width: 30px;
    height: 30px;
    color: rgba(54, 255, 151, 0.84);
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    /* border: 1px solid rgba(255, 96, 239, 0.845); */
    cursor: pointer;
}
.modelDetails .CloseButtonContainer button:hover
{
    color: rgb(255, 96, 239);
}
.modelDetails .Container
{
    width: 100%;
    height: calc(100% - 30px);
    text-align: center;
    color: rgb(99, 255, 193);
    font-weight: 700;
    font-size: large;
    font-family: monospace;
    overflow-y: scroll;
    scrollbar-width: none;
}

.modelDetails .Container a
{
    color: #f946ff;
}