@font-face {
    font-family: Duplex;
    src: url(./fonts/Duplex.woff);
}

body
{
   background-image: linear-gradient(-45deg,#000 5%, rgb(139, 51, 198) 90%);
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.Title
{
    max-width: fit-content;
    height: 10%;
    position: fixed;
    top: 0%;
    font-weight: 700;
    font-family: "Duplex";
    font-size: 60px;
    background: -webkit-linear-gradient(-45deg , rgb(7, 244, 212) 20%, rgb(125, 74, 255) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.822);
}
.Contents
{
    width: 90%;
    height: 85%;
    position: absolute;
    left: 5%;
    top: calc(10% + 5px);
    border-right: 5px solid rgb(2, 255, 137);
    border-left: 5px solid rgb(2, 255, 137);
    border-radius: 10px;
    background-color: #00060b6b;
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: center;
    /* box-shadow: 2px 0px 5px 3px rgba(141, 44, 231, 0.97); */
  }
  .ItemTip , .ItemTrick
  {
    transition: all .2s;
    position : relative;
    max-width: 350px;
    max-height: 250px;
    border-radius: 20px;
    width:90%;
    height:80%;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    /* box-shadow: 1px 1px 5px black; */
    cursor: pointer;
  }
.ItemTip
{
    /* background :-webkit-linear-gradient(-90deg , #29de92 1%, rgb(125, 74, 255) 90%); */
    border: 3px solid rgba(255, 48, 220, 0.768);
}
.ItemTrick
{
    /* background: -webkit-linear-gradient(-45deg , rgb(145, 24, 220) 20%, rgb(250, 88, 234) 90%); */
    border: 3px solid rgba(170, 79, 255, 0.799);
}

.ItemTip:hover
{
    border: 3px solid rgb(255, 48, 220);
    background-color: rgba(0, 0, 0, 0.236);
}
.ItemTrick:hover
{
    border: 3px solid rgb(170, 79, 255);
    background-color: rgba(0, 0, 0, 0.236);
}

.Tip
{
    width: 50%;
    height:85%;
    position: fixed;
    background:-webkit-linear-gradient(-90deg , #cf2ef8 1%, rgb(125, 74, 255) 90%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
.Tip h1
{
    color: #30119fd7;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.Tip div
{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-top: 5px solid rgba(255, 255, 255, 0.916);
    position: absolute;
    left: 10%;
    background:-webkit-linear-gradient(-90deg , #29666a40 1%, rgba(125, 74, 255, 0.229) 90%);
    overflow-y: scroll;
    scrollbar-width: none;
    text-align:left;

}